* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: #ffffffd3 #00000000;
}

@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

body {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background: linear-gradient(to right, #0095da, #0071c5);
  margin-bottom: 25px;
}

/* Header styles */
header {
  color: white;
  padding: 60px 20px;
  text-align: center;
}

header img {
  height: 2em;
  position: absolute;
  top: 30px;
  left: 60px;
}

header h1 {
  font-weight: 600;
  font-size: 3em;
  letter-spacing: 2px;
  max-width: 80%;
  margin: 50px auto 25px;
}

header p {
  font-size: 1em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

header::after {
  content: '';
  background-color: white;
  width: 100px;
  height: 4px;
  display: block;
  margin: 30px auto -60px;
}

/* Card styles */
.card-container {
  padding: 60px 30px 60px;
  width: 970px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 800px;
  height: 300px;
  display: inline-block;
  scroll-snap-align: start;
  transition: all 0.3s ease;
  position: relative;
}

.card:hover,
.card:active,
.card:focus {
  box-shadow: 0 0 15px black inset;
}

.card img {
  border-radius: 2.5px;
  width: 225px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
}

.card h2 {
  color: #0071c5;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-weight: bold;
}

.card p {
  color: #ffffff;
  font-size: .8em;
  line-height: 1.6;
  padding: 20px;
  background: radial-gradient(circle at center,#0095dad5, #0070c5d5);
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.card:hover p,
.card:active p,       
.card:focus p {
  opacity: 1;
}

#instruction {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

#instruction-mobile {
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 0;
  text-align: center;
  display: none;
}


@media (max-width: 970px) { /* Smaller screens */
  /* Header styles */
  header {
    padding: 60px 10px;
  }

  header img {
    height: 3em;
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    margin: auto;
  }

  header h1 {
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 2px;
    max-width: 95%;
    margin: 50px auto 25px;
  }

  header p {
    font-size: .8em;
    line-height: 1.6;
    max-width: 400px;
    margin: 0 auto;
  }

  header::after {
    opacity: 0;
  }

  /* Card styles */
  .card-container {
    width: 90%;
    height: 300px;
    margin: 0 auto 20px;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card {
    width: 300px;
    height: 300px;
    scroll-snap-align: start;
  }

  #instruction {
    display: none;
  }

  #instruction-mobile {
    display: inherit;
  }
}

/* Bootstrap Overrides */
.override button, input, a {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #0071c5;
  transition: all 0.4s ease;
}

.override a:hover,button:hover {
  background-color: #00C7FD;
}